{# app/Resources/TwigBundle/views/Exception/error404.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
    
    <p>
        Có lỗi xảy ra, kiểm tra lại thao tác của bạn hoặc liên hệ bộ phận kĩ thuật để được hỗ trợ.
    </p>
{% endblock %}
