{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <div id="welcome">
                <h2>Toong - Coworking space</h2>
            </div>

            <div id="status">
                <p>
								
                </p>
            </div>
            

        </div>
    </div>
{% endblock %}

{% block stylesheets %}
<style>
	body {
		font: 18px/1.5 sans-serif; 
		background-color: #4D3F40;
		
		position: relative;
		background-image: url({{ asset('css/images/bg.jpg') }});
		background-position: left center;
		background-repeat: repeat-y;
		padding-top: 50px;
		padding-bottom: 20px;
	}
    h1, h2 { color:#fff;line-height: 1.2; margin: 0 0 .5em; }



</style>
{% endblock %}
