{% extends 'base.html.twig' %}
{% block stylesheets %}
<style>
	.one-row{

		position:relative;
		background-color:#ccc;
		height:24px;
	}
	.booked{
		position: absolute;
		height:20px;
		background-color:blue;
	}
	.locked{
		position: absolute;
		height:20px;
		background-color:red;
	}
	
</style>
{% endblock %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <div id="welcome">
                <h1><span>Welcome to</span> Symfony {{ constant('Symfony\\Component\\HttpKernel\\Kernel::VERSION') }}</h1>
            </div>

            <div id="status">
                <p>
                    Your application is ready to start working on it at cuong nguyen macbook pro:
                    <code>{{ base_dir }}/</code>
                </p>
								<p> Sample form by form builder
								</p>
								<h3> Markup </h3>

								<h4>script</h4>

								<p>
								<h3> Result </h3>
								</p>
								<div class="col-md-12">
								<form id="testform">
								<div class="fileupload-container">
									<input name="abc" type="hidden" value="123">
									<input type="file" id="testfile" class="fileupload" name="testfile[]" multiple>
									<div class="btn-fileupload">upload file <span class="fileupload-icon"><i class="glyphicon glyphicon-refresh fa-spin"></i></span></div>
									
								</div>
								</form>
                <a href = "#" class = "btn btn-default">Submit</a>
								</div>
								<div class="col-md-12">
									<div class="one-row">
										<div class="booked" style="top:2px;left:0%; width:20%"></div>
										<div class="booked" style="top:2px;left:31%; width:10%"></div>
									</div>
									<div class="one-row">
										<div class="booked" style="top:2px;left:1%; width:20%"></div>
										<div class="locked" style="top:2px;left:41%; width:10%"></div>
									</div>
								</div>
            </div>
{% endblock %}
{% block javascripts %}
<script src="{{ asset('js/jquery.iframe-transport.js')}}"></script>
{% endblock %}
