{% extends 'base.html.twig' %}

{% block title %}Toong - Nhập DL từ file excel{% endblock %}
{% block body %}
  <div class = "container">
      <h1 class = "page-title">Nhập</h1>
        <div class="col-md-12 import-action">
          <a href = "#" class = "btn btn-primary btn-preview">Tải và xem trước dữ liệu</a>
          <a href = "#" class = "btn btn-primary btn-import">Ghi và đóng lại</a>
          <a href = "{{ path('product') }}" class = "btn btn-info">Quay lại</a>
        </div>
        <div class = "col-md-12">
          <div class = "content-preview"></div>
        </div>
  </div>
{% endblock %}
{% block javascripts %}
  <script src="{{ asset('js/product.js') }}" type = "text/javascript"></script>
{% endblock %}
