<table class = "table table-bordered">
  <thead>
    <th>#</th>
    <th>Tên nhóm</th>
    <th>Địa chỉ</th>
    <th>Điện thoại</th>
    <th>Mã số thuế</th>
    <th>Địa chỉ thuế</th>
    <th>Mô tả</th>
    <th>Số thành viên</th>
    <th></th>
  </thead>
  <tbody>
  <tr>
    <th colspan="9" scope="row" class="text-center"><i class="glyphicon glyphicon-refresh fa-spin"></i></th>
  </tr>
  </tbody>
</table>
