{% extends "::base.html.twig" %}
{% block title %}Toong - Lịch trình phòng{% endblock %}
{% block body %}
  <div class = "container">
    <div class = "row">
      <div class = "col-md-12">
        <h1 class = "page-title">Lịch trình phòng</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <form class="form-horizontal" method="post" id="f_roomschedulesearch">
          {{form|raw}}
          <div class="row">
          <input type="submit" class="invisible" value="submit">
          </div>
        </form>
      </div>
      <div class="col-md-12">
        <div class="center-block width200">
          <a class="btn btn-info" href="#" id="btnsearch"> Tìm kiếm </a>
        </div>
      </div>
    </div>
    <div class="row"><div class="height20"></div></div>
    <div class = "row">
      <div class = "col-md-12">
        <table class = "table table-bordered">
          <thead>
            <th>#</th>
            <th>Tên phòng</th>
            <th>Tên thành viên</th>
            <th>Thời gian</th>
            <th>Trạng thái</th>
            <th>Ghi chú</th>
            <th>Người phụ trách</th>
            <th></th>
          </thead>
          <tbody id = "list-room">
            <th colspan="8" scope="row" class="text-center"><i class="glyphicon glyphicon-refresh fa-spin"></i></th>
          </tbody>
        </table>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="center-block width200">
          <a class="btn btn-primary" href="{{ path('room_schedule_add')}}" id="btnback"> Đặt lịch </a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
{% block javascripts %}
  <script id="template_table" type="text/x-handlebars-template">
    <%#list%>
      <tr class="<%css%>">
      <th><%idx%></th>
      <td><%room_name%></td>
      <td><%member_name%></td>
      <td><%fromtime%> tới <%totime%></td>
      <td><%state%></td>
      <td><%note%></td>
      <td><%username%></td>
      <td>
        <a href="/room/schedule/<%id%>/edit">Thay đổi</a>
      </td>
      </tr>
    <%/list%>
  </script>
  <script src="{{asset ('js/handlebars.min.js')}}"></script>
  <script>
    jQuery(function(){
      {{script|raw}}
      // Search room
      function doSearch(){
        ajaxPost('/room/search/schedule', $('#f_roomschedulesearch').serialize(), function(data){
          if (!data.empty){

            $('#list-room').html(mr( $('#template_table').html(), {list:data}))
          } else {
            $('#list-room').html('<tr><th colspan="8" scope="row" class="text-center">'+ data.empty + '</th></tr>');
          }
        });
      }

      doSearch();
      $('#f_roomschedulesearch').submit(function(e){
        e.preventDefault();
        $('#btnsearch').click();
      })
      $('#btnsearch').click(function(e){
        e.preventDefault();
        $('#list-room').html('<tr><th colspan="8" scope="row" class="text-center"><i class="glyphicon glyphicon-refresh fa-spin"></i></th></tr>');
        doSearch();
      })
    })
  </script>
{% endblock %}

