{% extends 'base.html.twig' %}
{% block title %}
Cập nhật thông tin gói dịch vụ
{% endblock %}

{% block body %}
<div id="wrapper">
   <div class="container">
			<div class="row">
        	<div class="col-md-12">
            <h1>Sửa gói dịch vụ</h1>
        	</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					{{ form|raw}}
				</div>
		  </div>
		  <div class="row">
				<div class="col-md-12">
					<div class="center-block width200">
						<a class="btn btn-primary" href="#" id="btnsave"> Save </a> <a class="btn btn-default" href="{{ path('list_package')}}" id="btnback"> Back </a>
					</div>
				</div>
			</div>
		
	 </div> <!-- /container --!>

</div><!-- /wrapper --!>

{% endblock %}
{% block javascripts %}
<script>
validation['name'] = {minlength:1, message: 'Nhập tên gói dịch vụ'};
validation['price'] = {minvalue:1, message: 'Nhập giá dịch vụ, lớn hơn 0 (zero)'};
validation['discountbar'] = {maxvalue:99, message: 'Giảm giá không quá 99%'};
validation['maxhours'] = {jsfunction: function(){
	// phai nhap it nhat gio/ngay
	if ($('#maxhours').val() < 1 && $('#maxdays').val() < 1) return 'Bạn phải nhập ít nhất số giờ hoặc số ngày trong gói';
	return '';
}};
jQuery(function(){
	{{script|raw}}
	$('.numeric').intOnly();
	$('#btnsave').click(function(e){
		e.preventDefault();
		beforePost() && ajaxPost('/package/formapi?op=update', $('#f_packageform').serialize()+'&id={{id}}', function(d){});
	})
})


</script>
{% endblock %}
