{% extends 'base.html.twig' %}
{% block title %}Toong - Checking{% endblock %}
{% block body %}
  <div class = "container">
    <div class="row">
      <div class="col-md-12">
        <h1 class = "page-title">Check out</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <form class="form-horizontal" method="post" id="f_checkoutall">
          {{form|raw}}
        </form>
      </div>
    </div>
    <div class="row"><div class="height20"></div></div>
    <div class="row">
      <div class="col-md-12">
        <div class="center-block width200">
          <a href = "#" class = "btn btn-primary btn-submit">Check out</a>
          <a href = "{{ path('checking_list') }}" class = "btn btn-default">Back</a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block javascripts %}
  <script>
    {{script|raw}}
  </script>
  <script>
    jQuery(function(){
      // Validation
      validation['checkout_d'] = {jsfunction:function(){
        if (cakcheckout.get() < 1){
          return "Nhập thời gian đăng ký ra!"
        }
        return '';
      }};
      // Checking action.
      $('.btn-submit').click(function(e){
        e.preventDefault();
        if (beforePost() == true) {
          ajaxPost('/checkout-all-ajax', $('#f_checkoutall').serialize(), function(d){})
        }
      });
    })
  </script>
{% endblock %}
