{% extends 'base.html.twig' %}
{% block title %}
Thêm gói khách hàng
{% endblock %}

{% block body %}
<div id="wrapper">

   <div class="container">
			<div class="row">
        	<div class="col-md-12">
            <h1>Thêm khách hàng</h1>
        	</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					{{ form|raw}}
				</div>
		  </div>
		  <div class="row">
				<div class="col-md-12">
					<div class="center-block width200">
						<a class="btn btn-primary" href="#" id="btnsave"> Save </a> <a class="btn btn-default" href="{{ path('list_customer')}}" id="btnback"> Back </a>
					</div>
				</div>
			</div>

	 </div> <!-- /container --!>

</div><!-- /wrapper --!>
{% endblock %}

{% block javascripts %}
<script>
validation['name'] = {minlength:1, message: 'Nhập tên khách'};

jQuery(function(){
	{{script|raw}}
	$('.numeric').intOnly();
	$('#btnsave').click(function(e){
		e.preventDefault();
		beforePost() && ajaxPost('/customer/formapi?op=create', $('#f_customerform').serialize(), function(d){});
	})
})


</script>
{% endblock %}

