{% extends 'base.html.twig' %}
{% block title %}
Danh sách khách hàng
{% endblock %}

{% block body %}
<div id="wrapper">
   <div class="container">
			<div class="row">
        	<div class="col-md-12">
            <h1>Danh sách khách hàng</h1>
        	</div>
			</div>
			<div class="row">

					<div class="col-md-12">
						<form class="form-horizontal" method="post" id="f_customersearch">
						{{form|raw}}
					  </form>
					</div>
					<div class="col-md-12">
						<div class="center-block width200">
							<a class="btn btn-info" href="#" id="btnsearch"> Tìm kiếm </a>
						</div>
					</div>
			</div>
			<div class="row"><div class="height20"></div></div>
			<div class="row">
				<div class="col-md-12">
					<table class="table table-bordered">
						<thead>
						 	<tr>
								<th class="width50">#</th>
								<th>Tên</th>
								<th>Địa điểm</th>
								<th>Email</th>
								<th>Điện thoại</th>
								<th>Người tạo</th>
								<th class="width200"></th>
							</tr>
						</thead>
						<tbody id="listcustomer">
						 	<tr>
						 		<th colspan="7" scope="row" class="text-center"><i class="glyphicon glyphicon-refresh fa-spin"></i></th>
							</tr>
						</tbody>
					</table>
				</div>
		  </div>
		  <div class="row">
				<div class="col-md-12">
					<div class="center-block width200">
						<a class="btn btn-primary" href="{{ path('add_customer')}}" id="btnback"> Thêm mới khách hàng </a>
					</div>
				</div>
			</div>

	 </div> <!-- /container --!>

</div><!-- /wrapper --!>

{% endblock %}
{% block javascripts %}
<script id="template_table" type="text/x-handlebars-template">
  <%#list%>
	<tr>
	<td><%idx%></td>
	<td><%name%>
	<%#if package%>
	<p><a href='#'>Dùng <%% package %%></a></p>
	<%/if%>
	</td>
	<td><%region%></td>
	<td><%email%></td>
	<td><%description%></td>
	<td><%createdname%></td>
	<td><a href="/customer/edit/<%id%>"> Sửa </a> |
	<%#if package%>
	<a href="/customer/editpackage/<%id%>">Thay đổi</a>
	<%else%>
	<a href="/customer/addpackage/<%id%>">Thêm gói</a>
	<%/if%>
	| <a href="#" class="deleterow" data-id="<%id%>"> Vô hiệu </a></td>
	</tr>
	<%/list%>
</script>

<script src="{{asset ('js/handlebars.min.js')}}"></script>
<script>
jQuery(function(){
	{{script|raw}}
	$('.numeric').intOnly();
	function doSearch(){
		ajaxPost('/customer/formapi?op=search', $('#f_customersearch').serialize(), function(data){
			if (!data.empty){
				$('#listcustomer').html(mr( $('#template_table').html(), {list:data}))
			} else {
				$('#listcustomer').html('<tr><th colspan="6" scope="row" class="text-center">'+ data.empty + '</th></tr>');
			}
		});

	}
	doSearch();

	$('#listcustomer').click(function(e){
		var $el = $(e.target);
		if ($el.hasClass('deleterow')){
			e.preventDefault();
			if (confirm('Bạn chắc chắn muốn vô hiệu khách hàng này?'))
			ajaxPost('/package/formapi?op=deactivate', {id: $el.data('id')}, function(d){
				doSearch();
			});
		}
	})
	$('#btnsearch').click(function(e){
		e.preventDefault();
		$('#listcustomer').html('<tr><th colspan="7" scope="row" class="text-center"><i class="glyphicon glyphicon-refresh fa-spin"></i></th></tr>');
		doSearch();
	})
})


</script>
{% endblock %}
