{% block body %}
  {% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
  {% endif %}

  <form action="{{ path('login_check') }}" method="post">
    <div class = "form-item">
      <label for="username">Tên tài khoản:</label>
      <input type="text" id="username" name="_username" value="{{ last_username }}" />
    </div>
    <div class = "form-item">
      <label for="password">Mật khẩu:</label>
      <input type="password" id="password" name="_password" />
    </div>
    <div class = "form-item">
      <label for="password">Địa điểm:</label>
      <select name = "_location">
        <option value="1">Tràng thi</option>
        <option value="2">Tô Ngọc Vân</option>
      </select>
    </div>
    {#
        If you want to control the URL the user
        is redirected to on success (more details below)
        <input type="hidden" name="_target_path" value="/account" />
    #}

    <button type="submit">Đăng nhập</button>
  </form>
{% endblock %}
